*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

/* WIDTH */

.w100{
    width: 100%;
}

.w99{
    width: 99%;
}

.w90{
    width: 90%;
}

.w80{
    width: 80%;
}

.w70{
    width: 70%;
}

.w60{
    width: 60%;
}

.w50{
    width: 50%;
}

.ms_img_420p{
    width: 420px;
}

.ms_img_100p{
    width: 100px;
}

.ms_img_60p{
    width: 60px;
}

.ms_img_50p{
    width: 50px;
}

.ms_img_40p{
    width: 40px;
}

.ms_img_30p{
    width: 30px;
}

.ms_img_20p{
    width: 20px;
}

/* HEIGHT */

.h100{
    height: 100%;
}

.h50p{
    height: 50px;
}

/* PADDING */

.pad5015{
    padding: 50px 15px
}

.pad12040{
    padding: 12px 0 4px 0;
}

.padt250{
    padding-top: 250px;
}

li{
    margin: 0 5px;
}

.ms-jumbo-bg{
    background-image: url(img/jumbo-bg.png);
    height: 650px;
    background-position: center;
    margin-top: 100px;
}

.c-white{
    color: white;
}

.c-black{
    color: black;
}

.ms_h1_console{
    font-size: 45px
}

.ms_p_console{
    font-size: 25px;
    padding-top: 15px;
}

.opacity7{
    opacity: .7;
}

.ms-partner-bg{
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    margin-top: 20px;
}

.ms_h1_new{
    font-size: 38px
}

.ms_p_new{
    font-size: 28px;
}

.ms_h1_explore{
    font-size: 45px
}

.ms_p_explore{
    font-size: 25px;
}

.w_img_100 .col img{
    width: 90%;
}

.w_img_100 .col p{
    font-size: 23px
}

.ms_grey_light{
    background-color: darkgray;
}

.ms_margin180{
    margin: 18px 0
}

.ms_h1_store{
    font-size: 40px;
}

.ms_p_store{
    font-size: 20px;
}

.ms_blue_psnow{
    color: white;
    background-color: rgb(10, 10, 128);
}
.ms_blue_footer{
    color: white;
    background-color: #2a63ff;
}

.ms_img_brad{
    border-radius: 20px;
}

.ms_blue_btn{
    border: solid 2px #2a63ff;
}

button:hover{
    box-shadow:inset 2px 2px white;
}

.op50{
    opacity: .5;
    transition: all 0.1s ease 0.2s
}

.op50:hover{
    opacity: 1;
}