*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.w100{
    width: 100%;
}

.w99{
    width: 99%;
}

.w90{
    width: 90%;
}

.w80{
    width: 80%;
}

.w70{
    width: 70%;
}

.w60{
    width: 60%;
}

.w50{
    width: 50%;
}

.ms_img_60p{
    width: 60px;
}

.ms_img_20p{
    width: 20px;
}

.ms-jumbo-bg{
    background-image: url(img/jumbo-bg.png);
    height: 650px;
    background-position: center;
    margin-top: 84px;
}

.c-white{
    color: white;
}

h1{
    font-size: 45px
}

p{
    font-size: 25px;
    opacity: .7;
    padding-top: 15px;
}